<configuration>
    <appender name="ASYNC_STANDARD" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize> <!-- Adjust based on load -->
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STANDARD_3"/>
    </appender>
    <appender name="STANDARD_1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.pocloggingmaskwithlayoutpattern.logging.layout.PatternMaskingLayout">
                <maskPattern>email=[^\s]+</maskPattern>
                <maskPattern>address=[^\s]+</maskPattern>
                <pattern>%d{ISO8601} [%thread] %-5level %logger{20} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>
    <appender name="STANDARD_2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.pocloggingmaskwithlayoutpattern.logging.layout.PatternMaskingLayout2">
                <maskPattern>email=[^\s]+</maskPattern>
                <maskPattern>address=[^\s]+</maskPattern>
                <pattern>%d{ISO8601} [%thread] %-5level %logger{20} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>
    <appender name="STANDARD_3" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.pocloggingmaskwithlayoutpattern.logging.layout.PatternMaskingLayout3">
                <pattern>%d{ISO8601} [%thread] %-5level %logger{20} - %mask(%msg) %n</pattern>
            </layout>
        </encoder>
    </appender>
    <springProfile name="pattern">
        <root level="INFO">
            <appender-ref ref="STANDARD_1" />
        </root>
    </springProfile>
    <springProfile name="pattern2">
        <root level="INFO">
            <appender-ref ref="STANDARD_2" />
        </root>
    </springProfile>
    <springProfile name="pattern3">
        <root level="INFO">
            <appender-ref ref="ASYNC_STANDARD" />
        </root>
    </springProfile>
</configuration>